** Exploring the shape of data to figure out how many

In [2]:
#importing all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
profile = pd.read_csv("profiles.csv")
#shape of profile
print(profile.shape)

(59946, 31)

In [5]:
profile = profile.dropna()
print(profile.shape)

(4407, 31)

In [6]:
print(profile.columns)
print(profile.info())

Index(['age', 'body_type', 'diet', 'drinks', 'drugs', 'education', 'essay0',
       'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7',
       'essay8', 'essay9', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'orientation', 'pets',
       'religion', 'sex', 'sign', 'smokes', 'speaks', 'status'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Index: 4407 entries, 0 to 59944
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          4407 non-null   int64
 1   body_type    4407 non-null   object
 2   diet         4407 non-null   object
 3   drinks       4407 non-null   object
 4   drugs        4407 non-null   object
 5   education    4407 non-null   object
 6   essay0       4407 non-null   object
 7   essay1       4407 non-null   object
 8   essay2       4407 non-null   object
 9   essay3       4407 non-null   object
 10  essay4       4407 non-null   object
 11  essay5       4407 non-null   object
 12  essay6       4407 non-null   object
 13  essay7       4407 non-null   object
 14  essay8       4407 non-null   object
 15  essay9       4407 non-null   object
 16  ethnicity    4407 non-null   object
 17  height       4407 non-null   float64
 18  income       4407 non-null   int64
 19  job          4407 non-null   object
 20  last_online  4407 non-null   object
 21  location     4407 non-null   object
 22  offspring    4407 non-null   object
 23  orientation  4407 non-null   object
 24  pets         4407 non-null   object
 25  religion     4407 non-null   object
 26  sex          4407 non-null   object
 27  sign         4407 non-null   object
 28  smokes       4407 non-null   object
 29  speaks       4407 non-null   object
 30  status       4407 non-null   object
dtypes: float64(1), int64(2), object(28)
memory usage: 1.1+ MB
None

In [15]:
#checking value counts of necessary features
categorical_features = ['body_type', 'diet', 'drinks', 'drugs', 'education','ethnicity', 'income', 'location', 'offspring', 'orientation', 'pets',
       'religion', 'sex', 'sign', 'smokes', 'status']
for i in categorical_features:
    print(profile[i].value_counts())
    print("______________________________")

body_type
average           1207
fit                906
athletic           799
curvy              448
thin               348
a little extra     322
skinny             125
full figured       102
overweight          60
used up             40
jacked              40
rather not say      10
Name: count, dtype: int64
______________________________
diet
mostly anything        2257
strictly anything       636
anything                522
mostly vegetarian       441
mostly other            155
strictly vegetarian     125
strictly other           68
vegetarian               45
mostly vegan             41
other                    39
strictly vegan           35
vegan                    16
mostly kosher            13
mostly halal              8
strictly kosher           2
strictly halal            2
kosher                    2
Name: count, dtype: int64
______________________________
drinks
socially       2958
rarely          581
often           396
not at all      386
very often       52
desperately      34
Name: count, dtype: int64
______________________________
drugs
never        3423
sometimes     916
often          68
Name: count, dtype: int64
______________________________
education
graduated from college/university    1739
graduated from masters program        699
working on college/university         572
graduated from two-year college       184
graduated from high school            170
working on two-year college           132
working on masters program            128
dropped out of college/university     120
graduated from ph.d program           100
graduated from law school              91
dropped out of space camp              71
graduated from space camp              64
working on ph.d program                62
working on space camp                  48
college/university                     47
graduated from med school              37
dropped out of two-year college        21
working on law school                  20
dropped out of masters program         18
two-year college                       16
working on med school                  16
dropped out of high school             15
working on high school                 12
dropped out of ph.d program            10
space camp                              7
high school                             5
dropped out of law school               2
masters program                         1
Name: count, dtype: int64
______________________________
ethnicity
white                                                                                               2722
asian                                                                                                401
hispanic / latin                                                                                     208
black                                                                                                170
other                                                                                                142
                                                                                                    ...
indian, white, other                                                                                   1
native american, pacific islander                                                                      1
asian, black, pacific islander, hispanic / latin                                                       1
asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, white       1
asian, black, indian                                                                                   1
Name: count, Length: 105, dtype: int64
______________________________
income
-1          2983
 20000       461
 100000      167
 40000       131
 30000       129
 80000       112
 50000       109
 60000        87
 70000        79
 150000       67
 1000000      58
 250000       16
 500000        8
Name: count, dtype: int64
______________________________
location
san francisco, california           1931
oakland, california                  602
berkeley, california                 300
san mateo, california                113
alameda, california                   81
                                    ...
washington, district of columbia       1
san luis obispo, california            1
modesto, california                    1
miami, florida                         1
cincinnati, ohio                       1
Name: count, Length: 83, dtype: int64
______________________________
offspring
doesn&rsquo;t have kids                                1010
doesn&rsquo;t have kids, but might want them            938
doesn&rsquo;t have kids, but wants them                 786
doesn&rsquo;t want kids                                 479
doesn&rsquo;t have kids, and doesn&rsquo;t want any     307
has kids                                                275
has a kid                                               252
has kids, but doesn&rsquo;t want more                   115
has a kid, but doesn&rsquo;t want more                   55
has a kid, and might want more                           52
might want kids                                          46
wants kids                                               41
has kids, and might want more                            34
has a kid, and wants more                                12
has kids, and wants more                                  5
Name: count, dtype: int64
______________________________
orientation
straight    3825
gay          308
bisexual     274
Name: count, dtype: int64
______________________________
pets
likes dogs and likes cats          1726
likes dogs                          591
likes dogs and has cats             518
has dogs                            359
has dogs and likes cats             323
likes dogs and dislikes cats        269
has dogs and has cats               202
has cats                            122
likes cats                          104
has dogs and dislikes cats           86
dislikes dogs and likes cats         51
dislikes dogs and dislikes cats      30
dislikes dogs and has cats           12
dislikes cats                        10
dislikes dogs                         4
Name: count, dtype: int64
______________________________
religion
agnosticism but not too serious about it      346
other and laughing about it                   302
agnosticism and laughing about it             295
atheism and laughing about it                 272
christianity but not too serious about it     267
catholicism but not too serious about it      249
other but not too serious about it            247
other                                         231
agnosticism                                   216
atheism but not too serious about it          150
atheism                                       145
judaism but not too serious about it          143
christianity                                  136
christianity and somewhat serious about it    131
other and somewhat serious about it           131
atheism and somewhat serious about it         128
catholicism and laughing about it              98
atheism and very serious about it              86
buddhism but not too serious about it          84
agnosticism and somewhat serious about it      78
other and very serious about it                76
catholicism and somewhat serious about it      75
christianity and very serious about it         71
judaism and laughing about it                  61
buddhism and somewhat serious about it         61
buddhism and laughing about it                 60
catholicism                                    53
agnosticism and very serious about it          37
christianity and laughing about it             32
judaism and somewhat serious about it          30
judaism                                        29
buddhism                                       18
catholicism and very serious about it          14
hinduism and somewhat serious about it         10
hinduism but not too serious about it           9
buddhism and very serious about it              9
islam but not too serious about it              5
hinduism                                        4
islam and somewhat serious about it             4
hinduism and very serious about it              3
judaism and very serious about it               3
hinduism and laughing about it                  3
islam and very serious about it                 3
islam                                           1
islam and laughing about it                     1
Name: count, dtype: int64
______________________________
sex
m    2470
f    1937
Name: count, dtype: int64
______________________________
sign
aries and it&rsquo;s fun to think about          186
leo and it&rsquo;s fun to think about            185
gemini and it&rsquo;s fun to think about         182
scorpio and it&rsquo;s fun to think about        178
gemini but it doesn&rsquo;t matter               177
sagittarius and it&rsquo;s fun to think about    177
pisces and it&rsquo;s fun to think about         175
cancer but it doesn&rsquo;t matter               174
virgo and it&rsquo;s fun to think about          173
cancer and it&rsquo;s fun to think about         171
virgo but it doesn&rsquo;t matter                171
libra but it doesn&rsquo;t matter                160
taurus and it&rsquo;s fun to think about         158
libra and it&rsquo;s fun to think about          156
aries but it doesn&rsquo;t matter                154
leo but it doesn&rsquo;t matter                  150
aquarius and it&rsquo;s fun to think about       149
capricorn but it doesn&rsquo;t matter            147
sagittarius but it doesn&rsquo;t matter          147
taurus but it doesn&rsquo;t matter               146
capricorn and it&rsquo;s fun to think about      135
aquarius but it doesn&rsquo;t matter             116
scorpio but it doesn&rsquo;t matter              116
pisces but it doesn&rsquo;t matter               114
cancer                                            60
leo                                               50
sagittarius                                       49
libra                                             48
aries                                             43
virgo                                             43
scorpio                                           43
aquarius                                          43
gemini                                            34
pisces                                            32
capricorn                                         31
taurus                                            30
scorpio and it matters a lot                      15
aquarius and it matters a lot                     12
cancer and it matters a lot                       11
pisces and it matters a lot                       10
capricorn and it matters a lot                     9
taurus and it matters a lot                        8
aries and it matters a lot                         7
leo and it matters a lot                           7
virgo and it matters a lot                         7
gemini and it matters a lot                        7
libra and it matters a lot                         6
sagittarius and it matters a lot                   5
Name: count, dtype: int64
______________________________
smokes
no                3523
sometimes          305
when drinking      233
yes                200
trying to quit     146
Name: count, dtype: int64
______________________________
status
single            4093
available          159
seeing someone     135
married             20
Name: count, dtype: int64
______________________________

## Cleaning the data to increase the speed of training

In [24]:
#Education
# 1. Detect dropped out
dropped = profile["education"].str.contains(r"^dropped out of", case=False, regex=True)

# 2. Strip the leading status phrases
edu = profile["education"].str.replace(
    r"^(graduated from|working on|dropped out of)\s+",
    "",
    regex=True,
    case=False
).str.lower()

# 3. Normalize to degree categories
edu = (
    edu.str.replace(r"college/university", "bachelors", regex=True)
       .str.replace(r"two[- ]?year college", "associates", regex=True)
       .str.replace(r"masters program", "masters", regex=True)
       .str.replace(r"ph\.?d program", "phd", regex=True)
       .str.replace(r"law school", "law", regex=True)
       .str.replace(r"med school", "medical", regex=True)
       .str.replace(r"high school", "high school", regex=True)
       .str.replace(r"space camp", "space camp", regex=True)
)

# 4. Add "(dropped out)" back into the same column
profile["education"] = edu + dropped.map(lambda x: " (dropped out)" if x else "")

print(profile.education.value_counts())

education
bachelors                    2358
masters                       828
associates                    332
high school                   187
phd                           162
bachelors (dropped out)       120
space camp                    119
law                           111
space camp (dropped out)       71
medical                        53
associates (dropped out)       21
masters (dropped out)          18
high school (dropped out)      15
phd (dropped out)              10
law (dropped out)               2
Name: count, dtype: int64

In [20]:
#Religion
profile["religion"] = profile["religion"].str.extract(r"^(\w+)", expand=False).str.lower()
print(profile.religion.value_counts())

religion
other           987
agnosticism     972
atheism         781
christianity    637
catholicism     489
judaism         266
buddhism        232
hinduism         29
islam            14
Name: count, dtype: int64

In [21]:
#Sign
profile["sign"] = profile["sign"].str.extract(r"^(\w+)", expand=False).str.lower()
print(profile.sign.value_counts())

sign
cancer         416
gemini         400
virgo          394
leo            392
aries          390
sagittarius    378
libra          370
scorpio        352
taurus         342
pisces         331
capricorn      322
aquarius       320
Name: count, dtype: int64

In [23]:
#status
profile["status"] = profile["status"].apply(lambda x : "single" if x == "available" else x)
print(profile.status.value_counts())

status
single            4252
seeing someone     135
married             20
Name: count, dtype: int64

## Next Step